.star {
  position: fixed;
  width: 0.1vw;
  height: 0.1vh;
  background: transparent;
  box-shadow: 39.53vw 53.51vh #fff, 48.7vw 97.21vh #fff, 41.98vw 1.56vh #fff,
    27.27vw 95.68vh #fff, 43.1vw 22.12vh #fff, 77.8vw 61.36vh #fff,
    56.37vw 96.99vh #fff, 50.3vw 28.78vh #fff, 35.45vw 82.51vh #fff,
    21.21vw 24.38vh #fff, 18.4vw 32.97vh #fff, 65.96vw 30.95vh #fff,
    10.27vw 76.51vh #fff, 10.3vw 38.1vh #fff, 39.51vw 84.73vh #fff,
    2.59vw 10.83vh #fff, 65.85vw 70.58vh #fff, 51.44vw 0.18vh #fff,
    54.37vw 47.76vh #fff, 34.46vw 63.7vh #fff, 59.45vw 51.76vh #fff,
    13.58vw 76.42vh #fff, 1.48vw 41.53vh #fff, 38.91vw 42.61vh #fff,
    51.86vw 58.93vh #fff, 87.8vw 56.15vh #fff, 27.36vw 15.7vh #fff,
    37.6vw 80.56vh #fff, 38.5vw 96.87vh #fff, 9.21vw 81.25vh #fff,
    94.14vw 86.32vh #fff, 91.49vw 64.73vh #fff, 29.74vw 43.85vh #fff,
    77.68vw 19.79vh #fff, 27.91vw 16.57vh #fff, 31.36vw 27.7vh #fff,
    13.58vw 41.92vh #fff, 38.25vw 36.31vh #fff, 80.84vw 18.22vh #fff,
    80.54vw 64.51vh #fff, 72.81vw 72.84vh #fff, 88.94vw 1.98vh #fff,
    79.12vw 23.13vh #fff, 95.76vw 56.17vh #fff, 99.3vw 87.15vh #fff,
    25.36vw 17.49vh #fff, 9.18vw 24.42vh #fff, 43.15vw 60.7vh #fff,
    79.7vw 82.6vh #fff, 0.8vw 63.27vh #fff, 19.47vw 22.92vh #fff,
    51.43vw 78.13vh #fff, 68.21vw 82.13vh #fff, 35.21vw 27.45vh #fff,
    23.26vw 66.59vh #fff, 24.72vw 14.58vh #fff, 98.23vw 38.52vh #fff,
    13.4vw 81.9vh #fff, 50.67vw 29.1vh #fff, 1.37vw 8.15vh #fff,
    8.91vw 15.58vh #fff, 59.61vw 14.14vh #fff, 9.3vw 97.37vh #fff,
    7.84vw 76.46vh #fff, 87.98vw 61.73vh #fff, 27.78vw 96.43vh #fff,
    77.93vw 77vh #fff, 84.23vw 41.14vh #fff, 69.84vw 31.95vh #fff,
    66.81vw 29.22vh #fff, 44.43vw 88.75vh #fff, 4.64vw 41.81vh #fff,
    74.44vw 83.9vh #fff, 4.27vw 53.84vh #fff, 52.39vw 45.89vh #fff,
    57.6vw 11vh #fff, 47.79vw 67.9vh #fff, 24.6vw 7.25vh #fff,
    23.13vw 81.1vh #fff, 7.44vw 0.78vh #fff, 9.22vw 59.3vh #fff,
    87.1vw 3.73vh #fff, 96.41vw 58.67vh #fff, 63.82vw 51.12vh #fff,
    74.81vw 28.8vh #fff, 10.81vw 98.46vh #fff, 79.96vw 67.58vh #fff,
    0.8vw 30.1vh #fff, 5.27vw 3.25vh #fff, 35.36vw 76.21vh #fff,
    47.49vw 59.97vh #fff, 40.15vw 80.14vh #fff, 28.26vw 42.65vh #fff,
    96.41vw 75.7vh #fff, 13.12vw 88.36vh #fff, 78.43vw 29.45vh #fff,
    90.47vw 64.36vh #fff, 76.37vw 74.49vh #fff, 39.23vw 33.62vh #fff,
    45.91vw 84.88vh #fff, 95.17vw 83.43vh #fff, 15.32vw 54.91vh #fff,
    78.35vw 10.56vh #fff, 4.7vw 76.31vh #fff, 47.4vw 7.28vh #fff,
    5.98vw 67.99vh #fff, 61.96vw 82.6vh #fff, 45.87vw 29.25vh #fff,
    24.89vw 8.3vh #fff, 35.76vw 72.69vh #fff, 46.25vw 50.9vh #fff,
    23.91vw 56.34vh #fff, 42.55vw 24.1vh #fff, 75.26vw 58.21vh #fff,
    97.15vw 93.63vh #fff, 59.86vw 88.3vh #fff, 75.8vw 71.67vh #fff,
    31.8vw 37.74vh #fff, 78.62vw 77.73vh #fff, 20.51vw 50.17vh #fff,
    50.25vw 7.55vh #fff, 74.41vw 35.26vh #fff, 15.89vw 72.3vh #fff,
    5.78vw 20.16vh #fff, 49.54vw 12.57vh #fff, 57.37vw 71.43vh #fff,
    28.96vw 10.22vh #fff, 36.97vw 89.27vh #fff, 90.25vw 89.42vh #fff,
    38.86vw 74.54vh #fff, 43.92vw 95.26vh #fff, 15.88vw 45.25vh #fff,
    34.71vw 42.62vh #fff, 50.32vw 59.79vh #fff, 77.25vw 34.46vh #fff,
    64.66vw 92.45vh #fff, 99.9vw 0.45vh #fff, 89.91vw 86.88vh #fff,
    12.61vw 36.35vh #fff, 94.2vw 89.3vh #fff, 52.74vw 96.75vh #fff,
    86.75vw 24.13vh #fff, 53.79vw 83.63vh #fff, 90.81vw 58.41vh #fff,
    51.25vw 63.78vh #fff, 58.8vw 50.28vh #fff, 21.5vw 98.95vh #fff,
    33.27vw 97.6vh #fff, 88.71vw 54.35vh #fff, 16.37vw 53.12vh #fff,
    97.7vw 45.12vh #fff, 68.1vw 67.64vh #fff, 53.64vw 9.36vh #fff,
    2.71vw 75.75vh #fff, 24.13vw 38.94vh #fff, 70.88vw 33.68vh #fff,
    16.55vw 27.81vh #fff, 13.23vw 64.87vh #fff, 52.1vw 13.29vh #fff,
    54.96vw 86.57vh #fff, 29.2vw 20.49vh #fff, 8.12vw 21.45vh #fff,
    54.7vw 69.7vh #fff, 95.96vw 82.29vh #fff, 32.37vw 60.17vh #fff,
    94.94vw 33.18vh #fff, 64.49vw 79.51vh #fff, 40.86vw 82.22vh #fff,
    23.23vw 59.21vh #fff, 64.29vw 65.27vh #fff, 73.31vw 28.26vh #fff,
    21.84vw 51.11vh #fff, 94.86vw 91.71vh #fff, 91.44vw 98.2vh #fff,
    58.78vw 24.32vh #fff, 36.42vw 85.64vh #fff, 44.7vw 20.78vh #fff,
    49.5vw 50.1vh #fff, 94.49vw 65.88vh #fff, 93.47vw 39.68vh #fff,
    17.53vw 1.6vh #fff, 2.19vw 99.83vh #fff, 69.32vw 20.96vh #fff,
    56.17vw 37.36vh #fff, 8.69vw 98.7vh #fff, 95.24vw 49.4vh #fff,
    18.52vw 70.45vh #fff, 80.4vw 33.3vh #fff, 45.12vw 11.84vh #fff,
    81.41vw 1.22vh #fff, 28.68vw 40.46vh #fff, 31.85vw 80.98vh #fff,
    42.48vw 19.45vh #fff, 7.16vw 61.72vh #fff, 38.52vw 53.8vh #fff,
    27.66vw 34.83vh #fff, 7.84vw 81.47vh #fff, 42.96vw 23.96vh #fff,
    82.64vw 21.5vh #fff, 42.98vw 28.7vh #fff;
}
