.star {
  position: fixed;
  width: 0.1vw;
  height: 0.1vh;
  background: transparent;
  box-shadow: 78.31vw 57.22vh #fff, 71.9vw 4.87vh #fff, 14.13vw 13vh #fff,
    87.86vw 42.95vh #fff, 36.7vw 87.16vh #fff, 48.67vw 57.95vh #fff,
    68.52vw 23.27vh #fff, 43.43vw 51.37vh #fff, 42.65vw 75.97vh #fff,
    90.11vw 99.77vh #fff, 41.66vw 16.28vh #fff, 67.5vw 56.33vh #fff,
    68.99vw 24.38vh #fff, 50.11vw 63.23vh #fff, 33.86vw 87.43vh #fff,
    12.49vw 24.3vh #fff, 82.4vw 45.67vh #fff, 22.95vw 43.12vh #fff,
    98.94vw 15.44vh #fff, 7.65vw 16.21vh #fff, 58.28vw 49.7vh #fff,
    4.64vw 31.59vh #fff, 90.91vw 69.74vh #fff, 94.68vw 29.96vh #fff,
    88.86vw 2.3vh #fff, 60.43vw 41.68vh #fff, 58.9vw 5.8vh #fff,
    83.36vw 25.28vh #fff, 62.88vw 66.66vh #fff, 73.54vw 49.17vh #fff,
    32.29vw 65.61vh #fff, 63.45vw 71.9vh #fff, 53.14vw 66.96vh #fff,
    58.53vw 55.66vh #fff, 72.68vw 2.35vh #fff, 13.49vw 46vh #fff,
    19.98vw 25.92vh #fff, 80.28vw 54.4vh #fff, 35.23vw 49.46vh #fff,
    84.8vw 90.78vh #fff, 27.9vw 70.96vh #fff, 24.14vw 41.85vh #fff,
    60.36vw 95.86vh #fff, 28.75vw 76.28vh #fff, 21.76vw 63.58vh #fff,
    64.9vw 50.63vh #fff, 23.25vw 89.81vh #fff, 95.92vw 32.34vh #fff,
    54.81vw 34.5vh #fff, 4.17vw 7.42vh #fff, 14.27vw 30.87vh #fff,
    60.27vw 98.34vh #fff, 19.53vw 40.76vh #fff, 8.7vw 38.98vh #fff,
    9.5vw 27.26vh #fff, 73.29vw 69.3vh #fff, 13.89vw 51.41vh #fff,
    16.84vw 97.74vh #fff, 71.14vw 50.88vh #fff, 7.92vw 17.71vh #fff,
    32.49vw 98.22vh #fff, 24.1vw 91.95vh #fff, 26.93vw 46.21vh #fff,
    44.89vw 95.37vh #fff, 64.65vw 39.26vh #fff, 43.55vw 56.61vh #fff,
    59.61vw 16.82vh #fff, 23vw 38.83vh #fff, 98.19vw 86.32vh #fff,
    89.7vw 67.16vh #fff, 59.44vw 84.49vh #fff, 28.94vw 60.11vh #fff,
    38.85vw 82.49vh #fff, 85.84vw 63.37vh #fff, 60.3vw 93.3vh #fff,
    60.27vw 91.18vh #fff, 11.3vw 57.93vh #fff, 14vw 22.95vh #fff,
    43.43vw 1.14vh #fff, 21.43vw 45.35vh #fff, 30vw 77.82vh #fff,
    1.37vw 20.48vh #fff, 86.62vw 64.13vh #fff, 99.35vw 21.32vh #fff,
    39.88vw 56.73vh #fff, 6.73vw 42.29vh #fff, 83.82vw 6.72vh #fff,
    13vw 53.63vh #fff, 53.38vw 70.17vh #fff, 75.47vw 71.51vh #fff,
    20.16vw 68.39vh #fff, 41.9vw 30.1vh #fff, 30.54vw 33.88vh #fff,
    60.72vw 80.17vh #fff, 95.16vw 81.45vh #fff, 50.8vw 16.4vh #fff,
    73.14vw 42.2vh #fff, 6.28vw 94.66vh #fff, 11.78vw 76.42vh #fff,
    56.81vw 2.64vh #fff, 3.48vw 79.9vh #fff, 52.82vw 72.11vh #fff,
    0.58vw 60.17vh #fff, 51.22vw 68.57vh #fff, 76.92vw 2.66vh #fff,
    22.73vw 66.26vh #fff, 55.72vw 65.49vh #fff, 10.55vw 9.66vh #fff,
    28.18vw 6.43vh #fff, 18.51vw 1.84vh #fff, 39.75vw 17.2vh #fff,
    56.56vw 63.92vh #fff, 18.4vw 58.93vh #fff, 13.54vw 11.6vh #fff,
    46.38vw 54.43vh #fff, 33.34vw 86.56vh #fff, 3.99vw 8.49vh #fff,
    98.35vw 13.3vh #fff, 81.9vw 98.19vh #fff, 29.5vw 79.5vh #fff,
    58.2vw 53.9vh #fff, 10.38vw 70.8vh #fff, 40.9vw 84.54vh #fff,
    7.32vw 84.76vh #fff, 41.1vw 29.27vh #fff, 54vw 89.94vh #fff,
    18.62vw 55.33vh #fff, 14.65vw 15.97vh #fff, 84.1vw 50.2vh #fff,
    55.85vw 33.58vh #fff, 79.84vw 26.54vh #fff, 87.83vw 68.93vh #fff,
    82.8vw 80.8vh #fff, 90.5vw 92.3vh #fff, 90.24vw 96.87vh #fff,
    15.56vw 16.35vh #fff, 24.65vw 2.99vh #fff, 18.18vw 85.32vh #fff,
    89.71vw 34.68vh #fff, 60.38vw 84.92vh #fff, 65.82vw 23.39vh #fff,
    3.73vw 27.48vh #fff, 25.38vw 95.82vh #fff, 29.27vw 50.37vh #fff,
    20.26vw 12.39vh #fff, 14.92vw 5.82vh #fff, 44.32vw 39.66vh #fff,
    79.86vw 79.45vh #fff, 32vw 47.53vh #fff, 20.39vw 92.36vh #fff,
    49.46vw 14.38vh #fff, 64vw 91.37vh #fff, 86.61vw 93.46vh #fff,
    30.53vw 98.49vh #fff, 2.34vw 76.29vh #fff, 68.6vw 78.78vh #fff,
    8.27vw 65.45vh #fff, 73.65vw 92.64vh #fff, 12.29vw 5.13vh #fff,
    60.14vw 47.78vh #fff, 72.61vw 92.72vh #fff, 8.27vw 0.85vh #fff,
    94.95vw 25.4vh #fff, 75.4vw 41.4vh #fff, 42.71vw 75.59vh #fff,
    65.73vw 5.43vh #fff, 24.11vw 44.3vh #fff, 40.34vw 62.71vh #fff,
    63.31vw 61.76vh #fff, 73.95vw 15.75vh #fff, 90.68vw 60.3vh #fff,
    24.35vw 10.75vh #fff, 36.26vw 22.25vh #fff, 69.49vw 84.94vh #fff,
    49.94vw 9.31vh #fff, 42.75vw 51.49vh #fff, 39.78vw 72.45vh #fff,
    70.21vw 45.41vh #fff, 93.39vw 45.5vh #fff, 69.24vw 59.33vh #fff,
    11.16vw 43.26vh #fff, 31.31vw 29.67vh #fff, 67.56vw 33.29vh #fff,
    5.33vw 40.2vh #fff, 17.46vw 62.5vh #fff, 43.32vw 42.98vh #fff,
    63.6vw 74.6vh #fff, 35.88vw 71.23vh #fff, 32.64vw 52.5vh #fff,
    33.92vw 97.47vh #fff, 24.75vw 15.43vh #fff, 21.99vw 18.38vh #fff,
    78.53vw 16.53vh #fff, 41.57vw 57.14vh #fff, 44.75vw 53.68vh #fff,
    35.2vw 6.6vh #fff, 64.44vw 63.54vh #fff, 17.39vw 96.4vh #fff,
    39.31vw 40.75vh #fff, 60.16vw 80.15vh #fff;
}

.meteor-1 {
  position: absolute;
  top: 278px;
  left: 68%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4s linear infinite;
  z-index: -1;
}

.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 72px;
  left: 30%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.4s linear infinite;
  z-index: -1;
}

.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 178px;
  left: 88%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.9s linear infinite;
  z-index: -1;
}

.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 241px;
  left: 37%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.7s linear infinite;
  z-index: -1;
}

.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 272px;
  left: 82%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.9s linear infinite;
  z-index: -1;
}

.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 123px;
  left: 55%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.6s linear infinite;
  z-index: -1;
}

.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 280px;
  left: 64%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.2s linear infinite;
  z-index: -1;
}

.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 102px;
  left: 40%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7s linear infinite;
  z-index: -1;
}

.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 131px;
  left: 38%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.6s linear infinite;
  z-index: -1;
}

.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 120px;
  left: 85%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.5s linear infinite;
  z-index: -1;
}

.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 70px;
  left: 54%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.5s linear infinite;
  z-index: -1;
}

.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 277px;
  left: 92%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5s linear infinite;
  z-index: -1;
}

.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 93px;
  left: 26%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.5s linear infinite;
  z-index: -1;
}

.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 223px;
  left: 15%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.7s linear infinite;
  z-index: -1;
}

.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 78px;
  left: 96%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4s linear infinite;
  z-index: -1;
}

.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
