:root {
  --sidebar-bg-color: #0c2039;
  --sidebar-icon-color: #1d508f;
}

.circular--square {
  border-radius: 50%;
  width: 6vh;
}
.sidebar {
  background-color: var(--sidebar-bg-color);
  width: 8vh;
  float: left;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--sidebar-icon-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar li {
  margin-top: 2vh;
  display: block;
  list-style: none;
  height: 7vh;
}

.end {
  position: fixed;
  top: 90vh;
  margin-left: 1.5vh;
  z-index: 1;
}

.sidebar li a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}

.sidebar li a .text {
  font-family: "Vibure", cursive;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 2vh;
  transition: 0.5s;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.sidebar li a .text.logout {
  margin-left: -0.5vh;
  margin-top: -1.5vh;
}

.sidebar li:hover a .text {
  transform: translateY(-4vh);
  opacity: 1;
}

.sidebar li a .icon {
  transition: 0.5s;
  font-size: 2vh;
  z-index: 1;
  color: var(--sidebar-icon-color);
}

.sidebar li:hover a .icon {
  transition: 0.5s;
  transform: translateX(8vh);
}

.sidebar li.list.end a .icon img {
  transform: translateY(-1vh);
  margin-left: -0.5vh;
}
.indicator {
  display: none;
  position: absolute;
  top: 1.1vh;
  left: 75px;
  left: 9vh;
  width: 6vh;
  height: 6vh;
  background: rgba(255, 253, 223, 50);
  border-radius: 50%;
  box-shadow: 0px 0px 10px #fff961, 0px 0px 15px 1vh #fff961;

  transition: 0.5s;
  z-index: 0;
}

.sidebar li:nth-child(1):hover ~ .indicator {
  transform: translateY(calc(9vh * 0));
  display: block;
}

.sidebar li:nth-child(2):hover ~ .indicator {
  transform: translateY(calc(9vh * 1));
  display: block;
}

.sidebar li:nth-child(3):hover ~ .indicator {
  transform: translateY(calc(9vh * 2));
  display: block;
}

.sidebar li:nth-child(4):hover ~ .indicator {
  transform: translateY(calc(9vh * 3));
  display: block;
}

.sidebar li:nth-child(5):hover ~ .indicator {
  transform: translateY(calc(9vh * 4));
  display: block;
}

.sidebar li:nth-child(6):hover ~ .indicator {
  transform: translateY(calc(9vh * 5));
  display: block;
}

.sidebar li:nth-child(7):hover ~ .indicator {
  transform: translateY(calc(9vh * 10));
  display: block;
}
